<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TestProject</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TestProject.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    

</head>
<body>
    
    <header>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="light">
            <div class="container-fluid">
                <a class="navbar-brand text-size-3xl" asp-controller="UploadCsv" asp-action="Upload">
                    Contact Manager Application
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto"></ul>
                        <input type="text" id="tableFilter"
                               class="mb-2 mt-2 px-2 py-1 border rounded w-full "
                               placeholder="Search...">
           
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script>
        document.getElementById('tableFilter').addEventListener('input', function() {
            const filter = this.value.toLowerCase();
            const table = document.querySelector('table');
            const rows = table.tBodies[0].rows;

            for (let row of rows) {
                let text = row.innerText.toLowerCase();
                row.style.display = text.includes(filter) ? '' : 'none';
            }
        });
    </script>


    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

 
    
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
